.AddPost {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 200px;
    margin-bottom: 32px;
    border: solid 1px green;
    justify-content: center;
}

.AddPost div {
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.AddPost div *{
    margin-right: 8px;
}

.AddPost input {
    width: 300px;
    height: 40px;
}


.AddPost button {
    margin-top: 12px;
    margin-bottom: 12px;
}

.AddPost * {
    margin-top: 8px;
}